.item {
  margin-bottom: 10px;
}

.item::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;

  vertical-align: text-top;

  margin-right: 7px;

  background-image: url(./buddhist.png);
  background-size: cover;
}

.btn {
  width: 60px;
  padding: 5px;

  background-color: cornflowerblue;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;

  cursor: pointer;

  &:hover {
    background-color: green;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}
